In [1]:
from model_On_Array2 import *
import pandas as pd
import os
import sys
import itertools
import random
from pathlib import Path
import numpy as np
import dataprocessing2
import glob
import os.path
from datetime import datetime, timedelta
import process_utils
from sklearn.metrics import mean_squared_error
from scipy.optimize import minimize
from scipy.optimize import leastsq
from scipy.optimize import least_squares
from sklearn.model_selection import train_test_split
import pickle 
import matplotlib.pyplot as plt

In [24]:
a=np.array([True,False])
TT=np.array([12,14])

In [31]:
[i for i in zip(a,TT,TT)]

[(True, 12, 12), (False, 14, 14)]

In [27]:
[TT[i] if a[i]==True else 0 for i in a.iter]

TypeError: 'int' object is not iterable

In [13]:
model=mainmodel(maison='multiroom1')

In [15]:
model.setupdata()

In [17]:
model.raw['Rad']

zone                                  bathroom  bedroom_1  bedroom_2  \
uniqueday_Id sequence_Id intraday_Id
2020-05-24   0           19:40:03        False      False      False
                         19:45:03        False      False      False
                         19:50:03        False      False      False
                         19:55:03        False      False      False
                         20:00:04        False      False      False
...                                        ...        ...        ...
2021-05-24   0           16:45:04        False      False      False
                         16:50:03        False      False      False
                         16:55:03        False      False      False
                         17:00:04        False      False      False
                         17:05:03        False      False      False

zone                                  bedroom_3  diningroom  kitchen  \
uniqueday_Id sequence_Id intraday_Id
2020-05-24   0           19:40:03         False       False    False
                         19:45:03         False       False    False
                         19:50:03         False       False    False
                         19:55:03         False       False    False
                         20:00:04         False       False    False
...                                         ...         ...      ...
2021-05-24   0           16:45:04         False       False    False
                         16:50:03         False       False    False
                         16:55:03         False       False    False
                         17:00:04         False       False    False
                         17:05:03         False       False    False

zone                                  livingroom
uniqueday_Id sequence_Id intraday_Id
2020-05-24   0           19:40:03          False
                         19:45:03          False
                         19:50:03          False
                         19:55:03          False
                         20:00:04          False
...                                          ...
2021-05-24   0           16:45:04          False
                         16:50:03          False
                         16:55:03          False
                         17:00:04          False
                         17:05:03          False

[102209 rows x 7 columns]

In [21]:
model.update_theta()
model.set_theta(model.theta)

In [22]:
df=model.raw.loc['2020-06-28':'2020-08-29']

In [23]:
D=dict()
for nom, liste in model.features.items():
    D[nom]=df[liste].to_numpy()

In [31]:
model.simulate(D)

In [36]:
model.metric1(model.theta,D)

0.0024533188663610917

In [38]:
sol=minimize(model.metric1,model.theta,args=(D))

In [39]:
sol

      fun: 0.0024533188663610917
 hess_inv: array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])
      jac: array([-2.44472176e-09,  2.64844857e-09,  0.00000000e+00])
  message: 'Optimization terminated successfully.'
     nfev: 4
      nit: 0
     njev: 1
   status: 0
  success: True
        x: array([1., 1., 1.])